# Data Science Tools and Ecosystem

## Author

Omar Carrasco

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Data Science Languages
* Data Science Libraries 
* Data Science Tools
* Code examples

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy (python)   
2. Pandas (python)
3. Matplotlib (python)
4. Tidyverse (r) 
5. Caret (r)

|Data Science Tools|
|----------------|
|Anaconda|
|R Studio|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

 This a simple arithmetic expression to mutiply then add integers

In [4]:
 (3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [6]:
totalminutes = 200
minutesperhour = 60 
totalminutes/minutesperhour

3.3333333333333335